<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>add article</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<div class="wrapper">
    <div class="header">
        <div th:replace="fragments/header :: header"/>
    </div>
    <section class="content-wrapper">
        <form class="custom-form" action="#" th:action="@{/private/article/new}" th:object="${article}" method="post">
            <h1>Add article info</h1>
            <div class="input-form-with-error">
                <label>Name</label>
                <th:block th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                    name error
                </th:block>
                <input type="text" name="name" id="name" th:value="${article.name}"
                       th:required="true" th:field="*{name}"/>
            </div>
            <div class="input-form-with-error">
                <label>Content</label>
                <th:block th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
                    content error
                </th:block>
                <textarea rows="4" name="content" id="content" th:value="${article.content}"
                          th:required="true" th:field="*{content}"/>
            </div>
            <div class="input-form-with-error">
                <label>Date Time: </label><input type="datetime-local" th:field="*{created}"/>
            </div>
            <div>
                <input class="btn-default" type="submit" value="Confirm"/>
            </div>
        </form>
    </section>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>