<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div th:replace="fragments/header :: header"/>
    </div>
    <section class="content-wrapper">
        <h1>403 - Access is denied</h1>
        <div th:inline="text">ACCESS IS DENIED, FRIEND
        </div>
    </section>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>