<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <nav>
            <div>
                <ul>
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <section class="content-wrapper">
        <div class="container">
            <section id="aboutus">
                <h2 class="section-title">Список пользователей</h2>
                <div class="block-content">
                    <div class="users-list">
                        <form id="users-delete-form"></form>
                        <form class="users-list-form"> <!-- закрыть тег тут и указать в селектах form="айди_формы" -->
                            <div class="user-item">
                                <div class="user-info">
                                    <h4>Фамилия Имя Отчество</h4>
                                    <span class="user-email">email@email.com</span>
                                    <select>
                                        <option>работяга</option>
                                        <option>одмен</option>
                                    </select>
                                    <button class="btn-default">Изменить привелегию</button>
                                </div>
                                <div class="user-control">
                                    <input type="checkbox" form="users-delete-form">
                                </div>
                            </div>
                        </form> <!-- этот тег убрать -->
                        <div class="button-wrapper">
                            <button class="btn-default">Удалить пользователей</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <footer>
        <div sec:authorize="isAuthenticated()">
            <ul>
                <li>Logged user: <span sec:authentication="name"></span></li>
                <li> Roles: <span sec:authentication="principal.authorities"></span></li>
                <li><a href="#">Sign Out</a></li>
            </ul>
        </div>
    </footer>
</div>
</body>
</html>