<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div th:replace="fragments/header :: header"/>
    </div>
    <section class="content-wrapper">
        <div class="container">
            <section id="aboutus">
                <h2 class="section-title">Users</h2>
                <div class="block-content">
                    <div class="users-list">
                        <form id="users-delete-form" method="post" th:action="@{/private/users/delete}"></form>
                        <th:block th:each="user : ${users}">
                            <div id="button" class="review-content">
                                <div class="user-info">
                                    <h6>
                                        <div class="info-field">
                                            <span th:text="*{user.name}"/>
                                            <span th:text="*{user.middleName}"/>
                                            <span th:text="*{user.surName}"/>
                                        </div>
                                    </h6>
                                    <span class="user-email">email:<span th:text="*{user.email}"/></span>
                                    <form class="user-list-form" method="post" th:action="@{/private/users/role}"
                                          th:object="${userRoleUpdate}">
                                        <td><input hidden value="#"
                                                   th:attr="value=${user.id}" th:name="id"/></td>
                                        <select name="role" th:name="roleId">
                                            <option th:each="role,stat:${roles}"
                                                    th:value="${roles[__${stat.index}__].id}"
                                                    th:text="${roles[__${stat.index}__].name}"
                                                    th:selected="${user.role.name == roles[__${stat.index}__].name}"
                                                    th:disabled="${user.role.name == roles[__${stat.index}__].name}">
                                            </option>
                                        </select>
                                        <button class="btn-default">Change privilege
                                        </button>
                                    </form>
                                </div>
                                <form th:action="@{/private/user/{id}/password(id=${user.id})}" method="post">
                                    <div class="button-wrapper">
                                        <button class="btn-default">Change password</button>
                                    </div>
                                </form>
                                <div class="user-control">
                                    <input type="checkbox" name="ids" th:value="${user.id}"
                                           form="users-delete-form">
                                </div>
                            </div>
                        </th:block>
                        <div class="button-wrapper">
                            <button th:form="users-delete-form" class="btn-default">Delete selected users</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div id="pagination" th:if="${pages > 1}">
            <th:block th:each="i : ${#numbers.sequence( 1,pages)}">
                <a class="pagination-item "
                   th:href="@{/private/users(page=${i})}"><span th:text="${i}"/></a>
            </th:block>
        </div>
    </section>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>