<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div th:replace="fragments/header :: header"/>
    </div>
    <section class="content-wrapper">
        <h1>Profile</h1>
        <form id="custom-form" action="#" method="post" th:action="@{/private/profile}"
              th:object="${user}">
            <div class="review-content">
                <label>User name</label>
                <div class="input-form-with-error">
                    <input hidden value="#" th:field="*{id}"
                           th:value="${user.id}"/>
                    <input hidden value="#" th:field="*{profile.id}"
                           th:value="${user.profile.id}"/>
                    <input hidden value="#" th:field="*{email}"
                           th:value="${user.email}"/>
                    <p> <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
                        Error
                    </span>
                    </p>
                    <input type="text" name="name" id="name" th:value="*{name}"
                           th:required="true" th:field="*{name}"/>
                </div>
                <div class="input-form-with-error">
                    <label>User surname</label>
                    <p>  <span th:if="${#fields.hasErrors('surName')}" th:errors="*{surName}">
                        surname Error
                    </span>
                    </p>
                    <input type="text" name="surname" id="surname" th:value="${user.surName}"
                           th:required="true" th:field="*{surName}"/>
                </div>
                <div class="input-form-with-error">
                    <label>User address</label>
                    <p><span th:if="${#fields.hasErrors('profile.address')}"
                               th:errors="*{profile.address}">Address Error
                    </span>
                    </p>
                    <input type="text" name="address" id="address"
                           th:value="${user.profile.address}"
                           th:required="true" th:field="*{profile.address}"/>
                </div>
                <div class="input-form-with-error">
                    <label>User telephone</label>
                    <p>  <span th:if="${#fields.hasErrors('profile.telephone')}"
                               th:errors="*{profile.telephone}">Phone Error
                    </span>
                    </p>
                    <input type="text" name="telephone" id="phone"
                           th:value="${user.profile.telephone}"
                           th:required="true"
                           th:field="*{profile.telephone}"/>
                </div>
                <div class="input-form-with-error">
                    <label>New password</label>
                    <p> <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                    Password Error</span>
                    </p>
                    <input type="text" name="password" id="password" placeholder="new password"
                           th:placeholder="${'new password'}"
                           th:required="true" th:name="password"/>
                </div>
                </th:block>
            </div>
        </form>
        <div class="button-wrapper">
            <button th:form="custom-form" class="btn-default">Update information</button>
        </div>
    </section>
</div>
</section>
</div>
<div th:replace="fragments/footer :: footer"/>
</div>
</body>
<script>
    var btnClose = document.getElementById("close-popup-btn");
    var popupMessage = document.getElementById("status-message");
    btnClose.onclick = handleButtonClick;

    function handleButtonClick() {
        popupMessage.classList.remove("active");
    };
</script>
</html>