<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
</head>
<body>
<div th:fragment="footer">
    <footer>
        <div sec:authorize="isAuthenticated()">
            <ul>
                <li> Role: <span sec:authentication="principal.authorities"></span></li>
                <li><a th:href="@{/logout}">Sign Out</a></li>
            </ul>
        </div>
    </footer>
    <div th:if="${param.message}" id="status-message" class="active">
        <p><span th:text="${param.message}"></span></p>
        <span href="#" id="close-popup-btn">&#x2716;</span>
    </div>
</div>
</body>
</html>