<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <nav>
        <div>
            <ul>
                <li class="active"><a th:href="@{/home}">Home</a></li>
                <th:block sec:authorize="hasAnyAuthority('CUSTOMER')">
                    <li class="active"><a th:href="@{/private/profile}">Profile</a></li>
                </th:block>
                <th:block sec:authorize="hasAnyAuthority('CUSTOMER','SALE')">
                    <li class="active"><a th:href="@{/public/articles}">Articles</a></li>
                </th:block>
                <th:block sec:authorize="hasAnyAuthority('SALE')">
                    <li class="active"><a th:href="@{/private/article/new}">New Article</a></li>
                </th:block>
                <th:block sec:authorize="hasAuthority('ADMINISTRATOR')">
                    <li class="active"><a th:href="@{/private/users}">Users</a></li>
                </th:block>
                <th:block sec:authorize="hasAuthority('ADMINISTRATOR')">
                    <li class="active"><a th:href="@{/private/user/new}">Add user</a></li>
                </th:block>
                <th:block sec:authorize="hasAuthority('ADMINISTRATOR')">
                    <li class="active"><a th:href="@{/private/reviews}">Manage reviews</a></li>
                </th:block>
                <th:block sec:authorize="hasAnyAuthority('SALE')">
                    <li class="active"><a th:href="@{/public/items}">Items</a></li>
                </th:block>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>