<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Copy Item</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<div class="wrapper">
    <div class="header">
        <div th:replace="fragments/header :: header"/>
    </div>
    <section class="content-wrapper">
        <form class="custom-form" action="#" th:action="@{/private/items/copy}" th:object="${item}" method="post">
            <h1>Change Item Information or Press copy button</h1>
            <div class="input-form-with-error">
                <label>Name</label>
                <th:block th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                    name error
                </th:block>
                <input type="text" name="name" id="name" th:value="${item.name}"
                       th:required="true" th:field="*{name}"/>
            </div>
            <div class="input-form-with-error">
                <label>Description</label>
                <th:block th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
                    description error
                </th:block>
                <input  name="description" id="description" th:value="${item.description}"
                          th:required="true" th:field="*{description}"/>
            </div>
            <div class="input-form-with-error">
                <label>Price</label>
                <th:block th:if="${#fields.hasErrors('price')}" th:errors="*{price}">
                    price error
                </th:block>
                <input name="content" id="price" th:value="${item.price}"
                          th:required="true" th:field="*{price}"/>
            </div>
            <div>
                <input class="btn-default" type="submit" value="Copy"/>
            </div>
        </form>
    </section>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>